<h1> Menu Page </h1>

<ul>
    <li> Photo: photo1 </li>
    <li> Name: name1 </li>
    <li> Price: price1 </li>
</ul>

<ul>
    <li> Photo: photo2 </li>
    <li> Name: name2 </li>
    <li> Price: price2 </li>
</ul>