<div class="welcome-page1">
    <h1>Editing dish</h1>

    <%= render "form", dish: @dish %>

    <div class="center">
        <%= link_to t('menu.button.back_to_menu'), dishes_path, class: "waves-effect waves-light btn-small" %>
        <%= link_to t('menu.button.back_to_dish'), @dish, class: "waves-effect waves-light btn-small" %>
    </div>
</div>

