<% flash.each do |key, message| %>
        <div class="row center">
            <div class="col s12 m12 l12">
                <div class="card-panel green lighten-3" id="fade-out-target">
                    <span class="black-text">
                        <%= message %>
                    </span>
                </div>
            </div>
        </div>
<% end %>
        
