<header>
    <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Pasta</a></li>
    <li><a href="#!">Pizza</a></li>
    <li><a href="#!">Main Dish</a></li>
    <li><a href="#!">Grill</a></li>
    <li><a href="#!">Fish & Seafood</a></li>
    <li><a href="#!">Dessert</a></li>
    <li><a href="#!">Drinks</a></li>
    <li class="divider"></li>
    <li><a href="#!">All Menu</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Pasta</a></li>
    <li><a href="#!">Pizza</a></li>
    <li><a href="#!">Main Dish</a></li>
    <li><a href="#!">Grill</a></li>
    <li><a href="#!">Fish & Seafood</a></li>
    <li><a href="#!">Dessert</a></li>
    <li><a href="#!">Drinks</a></li>
    <li class="divider"></li>
    <li><a href="#!">All Menu</a></li>
    </ul>
    <nav>
    <div class="container">
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo">SunnyCafe</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Vacancy</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">My Account</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Vacancy</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">My Account</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        </div>
    </div>
    </nav>
</header>